<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Codespace Demo Online Store">
        <meta name="author" content="Donovan Muskett-Yetts">
        <title>Codespace Shop</title>
        <!-- Bootstrap core CSS -->
        <link href="includes/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="includes/css/custom-styles.css" rel="stylesheet">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&family=Roboto:wght@500&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <main class="black-theme" id="app-root">
            <!-- Menu -->
            <div class="container">
                <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom heading-font">
                    <picture class="">
                    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                        <img class="logo" src="includes/img/codespace-primary-logo.svg" alt="Header Logo">
                    </a>
                    </picture>
                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 menu-border">
                        <li><a href="index.html" class="nav-link px-2 link-dark menu-item" @click="notShop()">Home</a></li>
                        <li><a href="shop.html" class="nav-link px-2 link-dark menu-item" @click="viewCollection(0)">Shop</a></li>
                        <li><a href="about.html" class="nav-link px-2 link-dark menu-item" @click="notShop()">About</a></li>
                        <li><a href="contact.html" class="nav-link px-2 link-dark menu-item" @click="notShop()">Contact</a></li>
                    </ul>
            
                    <div class="col-md-3 text-end" v-if="getCookie('isloggedin') == 0">
                        <a href="login.html" v-if="getCookie('isloggedin') == 0">
                          <button class="btn login-button">Login</button>
                        </a>
                        <a href="register.html" v-if="getCookie('isloggedin') == 0">
                          <button class="btn login-button">Sign-up</button>
                        </a>
                      </div>
                      <div class="col-md-3 text-end" v-if="getCookie('isloggedin') == 1">
                        <li class="dropdown drop-down">
                          <a class="me-2" href="shop.html" v-if="getCookie('isloggedin') == 1" @click="toggleCheckOut()" style="text-decoration: none;">
                            <img src="includes/img/shopping-cart-orange.png" alt="" class="" width="30">
                            <small class="cart-icon">{{cartItems()}}</small>
                          </a>
                          <a style="color: white;" class="dropdown-toggle ms-3" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="includes/img/profile_avatar_male.png" alt="" class="" width="45">
                          </a>
                          <ul class="dropdown-menu mt-3" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item drop-down-item" href="shop.html" v-if="getCookie('isloggedin') == 1" @click="toggleCheckOut()" style="text-decoration: none;">Shop</a></li>
                            <li><a class="dropdown-item drop-down-item" href="profile.html" v-if="getCookie('isloggedin') == 1"  @click="notShop()">Profile</a></li>
                            <li><a class="dropdown-item drop-down-item" href="routes/logout.php" v-if="getCookie('isloggedin') == 1" @click="cartClear()">Logout</a></li>
                          </ul>
                        </li>
                      </div>
                </nav>
            </div>
            <!-- Feature Section -->
            <section class="py-3 text-center container border-bottom">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Codespace Shop</h1>
                    <p class="lead text-muted">Add this to your collection</p>
                    </div>
                </div>
            </section>
            <!-- Product Page -->
            <div id="product-root" class="border-bottom container">
              <section class="py-3 text-center container" id="collection-1">
                  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" id="cRow-1">
                      <div class="col-sm-6 mx-auto">
                        <div class="card rounded-3 shadow-sm pb-3 my-5">
                            <div class="hidden" id="product-id"></div>
                            <div class="card-header py-3 text-light bg-dark">
                                <h4 class="my-0 fw-normal heading-font" id="product-heading">Product Heading</h4>
                            </div>
                            <div class="card-body">
                                <img class="" src="includes/img/x.png" id="product-image">
                                <h1 class="card-title pricing-card-title my-2 text-dark"><span id="product-price">xxx</span><small class="text-muted fw-light csp-text">CSP</small></h1>
                            </div>
                        </div>
                      </div>
                      <div class="col-sm-6 mx-auto">
                          <div class="pb-3 my-5">
                            <h4 class="mb-4">This is the product heading</h4>
                            <p id="product-description">Product Description.
                            </p>
                            <div class="" v-if="!matched">
                                <button class="btn btn-primary w-100 my-2 p-2" v-if="getCookie('isloggedin') == 1" @click="addToCart()">Add To Cart</button>
                            </div>
                            <div class="" v-if="matched">
                                <button class="btn btn-primary w-100 my-2 p-2" v-if="getCookie('isloggedin') == 1" disabled>Already Owned</button>
                            </div>
                            <a href="shop.html">
                                <button class="btn btn-secondary w-100 my-2 p-2">Back</button>
                            </a>
                            </div>
                      </div>
                  </div>
              </section>
            </div>
        </main>
        <!-- Footer -->
        <footer class="text-muted py-5 black-theme">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="#">Back to top</a>
                </p>
                <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
                <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
            </div>
        </footer>
        <script src="includes/js/bootstrap.bundle.min.js"></script>
        <script src="includes/js/vue.js"></script>
        <script src="includes/js/scripts.js"></script>
        <script>
            setBadge()
        </script>
    </body>
</html>